In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
# 데이터 준비
file1 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(file1)
print(boston.columns)
boston.head(7)

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [3]:
# 독립변수(feature), 종속변수(target) 분리
feature = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
target = boston[['medv']]

In [22]:
# 모델 구조 만들기
A = tf.keras.layers.Input(shape=[13]) # 13개의 독립변수
H = tf.keras.layers.Dense(128, activation='relu')(A)
H1 = tf.keras.layers.Dense(64, activation='swish')(H)
H2 = tf.keras.layers.Dense(32, activation='swish')(H1)
H3 = tf.keras.layers.Dense(16, activation='swish')(H2)
y = tf.keras.layers.Dense(1)(H3)
model = tf.keras.models.Model(A, y)
model.compile(loss='mse')

In [23]:
model.fit(feature, target, epochs=100, verbose=0) # verbose=1 : 학습과정 출력

In [24]:
# 모델 이용하기
예측값 = model.predict(feature[0:5])
print(예측값)

1/1 [==============================] - 0s 78ms/step
[[33.31693 ]
 [22.310062]
 [28.40797 ]
 [34.11537 ]
 [30.730373]]

In [25]:
target[0:5] # 정답

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2